<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart - Brand</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">

</head>

<body>
    
    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 id="text-info" style="color: green;font-size: 40px;">SEPETİM</h2>
                    
                </div>
                <div class="content">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-8">
                            <ul id="sepet" class="items">
                                
                                
                            </ul>
                        </div>
                        <div id="total" class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3 style="color: green;font-size: 50px;">Özet</h3>

                                <h4 style="color: green;"><span class="text">Toplam Fiyat</span><span class="price" id="fiyat">360TL</span></h4><button class="btn btn-primary btn-block btn-lg" style="background-color: green;" onclick="window.location.href='./odeme.html'"  type="button">Ödeme Yap</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
          </div>
      </div>
      <script src="localControl.js"></script>
        <script src="sepet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>

</body>

</html>